body{
    width: 1000px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: white;
}
.container{
    background-color: #222;
    border: 1px solid orange;
    display:inline-block;
    margin:60px 300px ;
    padding: 50px;
    border-radius: 20px;

}

/* cabeçalho da pagina */

.cabecalho{
    margin: 40px auto;
    width: 1150px;
    height: 20px;
    text-align: center;
    align-items: center;
    font-size: 29px;
    padding: 5px;
}
li{
    display: inline-block;
    list-style: none;
    margin-right: 80px;
}

li:hover{
    padding-bottom: 5px;
    color: orange;
    border-bottom: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
}

/* navegaçao */

.checkbtn{
   font-size: 40px;
   color: white;
   float: center;
   line-height: 80px;
   
   cursor: pointer;
   display: none;  
}
#check{
    display: none;
}

/* nome e profissao */

.nome{
    width: 290px;
    margin: 100px auto 50px 100px;
    border-left: 1px solid orange;
    padding-left: 10px;
    font-size: 35px;
}
.ramo{
    font-size: 25px;
}

/* botao contato */

.contatos{
    margin: 50px auto 50px 100px;
    padding: 10px ;
    background-color: #222;
    border: 1px solid orange;
    border-radius: 8px;
    font-size: 20px;
}
.contatos:hover{
    background-color: orange;
    border: 1px solid black;
}

/* designer links */

a{
    text-decoration: none;
    color: white;
}
.lista:hover{
    color: orange;
}

/* imagem */

.container-foto{
    display: inline-flex;
    margin-top: 150px;
}

.foto{
    margin-left: 140px;
    width: 500px;
    height: 500px;
    border-radius: 100%;
}

/* botao ver mais e voltar para o topo */

.ver-mais{
    margin-left: 35px;
}
.fa-sharp,.fa-solid{
    margin-left: 150px;
    font-size: 50px; 
}
.fa-sharp:hover,.fa-solid:hover{
    color: orange;
}
/* main de informações */

.main{
    align-items: center;
    background-color: #121212;
    margin: 250px auto;
    width: 900px;
    height: 500px;
    border: 0.5px solid orange;
    border-radius: 15px;
    text-align: center;
}
 /* estilizaçao de textos das main */

.titulo{
    font-size: 40px;
    padding: 10px;
}
.texto{
    font-size: 25px;
    margin: 50px;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 3rem;
}
 
/* logo da habilidade e configuraçoes de nome*/

.hab-logo{
    display: inline-block;
    margin: 80px auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
}
.logo{
    width: 150px;
    height: 120px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.nome-logo{
    font-size: 30px;
    margin-top: 10px;
}
.logo:hover, .projetos:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* configurações projetos */

.projetos{
    display: inline-block;
    list-style: none;
    margin: 20px;
    overflow: hidden;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.logo_projetos{
    width: 250px;
    height: 150px;
    margin: 50px auto;
    border-radius: 10px;
    cursor: pointer;
}

/* informaçoes contato  */


.redes-sociais{
    border-top:1px solid orange;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin: 50px 5px auto 5px;
}
.copy{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.fa-brands, .fa-sharp{
    text-align: center;
    align-items: center;
    margin: 50px 80px ;
    font-size: 60px;
}
.fa-brands:hover{
    color: orange;
}