body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: white;
}
.container{
    display:inline-block;
    margin-left: 50px;
}

/* cabeçalho da pagina */

header{
    margin: 50px auto;
    width: 70%;
    height: 20px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    padding: 5px;
}
li{
    display: inline-block;
    list-style: none;
    margin-right: 80px;
}

li:hover{
    color: orange;
    border-bottom: 2px solid orange;
    cursor: pointer;
}

/* nome e profissao */

.nome{

    margin: 100px auto 50px 150px;
    border-left: 1px solid orange;
    padding-left: 10px;
    font-size: 35px;
}
.ramo{
    font-size: 25px;
}

/* botao contato */

.contatos{
    margin: 5px auto 50px 150px;
    padding: 10px ;
    background-color: #222;
    border: 1px solid orange;
    border-radius: 8px;
    font-size: 20px;
}
.contatos:hover{
    background-color: orange;
    border: 1px solid black;
}

/* designer links */

a{
    text-decoration: none;
    color: white;
}
.aContatos:hover{
    color: orange;
}

/* imagem */

.container-foto{
    display: inline-flex;
    margin-top: 100px;
}

.foto{
    margin-left: 400px;
    width: 600px;
    height: 600px;
    border-radius: 100%;
}

/* botao ver mais e voltar para o topo */

.ver-mais,.fa-solid{
    display: flex;
    font-size: 50px;
    margin-top: 100px;
}
.fa-sharp,.fa-solid{
    margin-left: 150px;
    color: orange;
}
.fa-solid{
}

/* main de informações */

.main{
    align-items: center;
    background-color: #121212;
    margin: 160px auto;
    width: 90%;
    height: 500px;
    border: 0.5px solid orange;
    border-radius: 15px;
    text-align: center;
}

/* logo da habilidade e configuraçoes de nome*/

.hab-logo{
    display: inline-block;
    margin: 50px auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
}
.logo{
    width: 200px;
    height: 200px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.nome-logo{
    font-size: 30px;
    margin-top: 25px;
}
.logo:hover, .projetos:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* configurações projetos */

.projetos{
    display: inline-block;
    list-style: none;
    margin: 20px;
    overflow: hidden;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.logo_projetos{
    width: 250px;
    height: 150px;
    margin: 50px auto;
    border-radius: 10px;
    cursor: pointer;
}

/* informaçoes contato  */


.redes-sociais{
    text-align: center;
    align-items: center;
    margin: auto 5px auto 80px;
}
.copy{
    text-align: center;
    margin: 15px auto;
    font-size: 25px;
}
.fa-brands{
    text-align: center;
    align-items: center;
    margin: 50px 80px ;
    font-size: 60px;
}
.fa-brands:hover{
    color: orange;
}